@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root {
    --fonte01: 'Italiana', serif;
    --cor1: #09E85E;
    --corN1: #000000;
    --corN2: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 96.4vh;background-image: linear-gradient(to bottom, var(--cor1) , var(--corN1) );
}

header > h1 {
    font-family: var(--fonte01);
    font-size: 3.5em;
    text-align: center;
    margin: 25px;
}

.foto {
    display: block;
    width: 120px;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
}
  
.instagram {
    font-size: 1.2em;
    font-weight: bolder;
    display: flex;
    padding: 20px;
    margin-top: 60px;
    min-width: 200px;
    max-width: 300px;
    border-radius: 60px;

    margin-left: auto;
    margin-right: auto;

    /* efeito de vidro*/
    background: rgba( 130, 130, 130, 0.15 );
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
}

.gg-instagram {
    max-width: 25px;
    max-height: 25px;
}


.instagram a {
    color: #ffffff;
    margin: auto;
    text-decoration: none;
}

.instagram a:hover {
    color: #000000;
    text-decoration: underline;
}

.github {
    display: flex;
    font-size: 1.2em;
    font-weight: bolder;
    
    padding: 20px;
    margin-top: 30px;
    min-width: 200px;
    max-width: 300px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 60px;

    /* efeito de vidro*/
    background: rgba( 130, 130, 130, 0.15 );
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
}

.github a {
    color: #ffffff;
    margin: auto;
    text-decoration: none;
}

.github a:hover {
    text-decoration: underline;
    color: #000000;
}
